@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  width:100% ;
  height:100vh ;
  overflow: hidden;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}
.custom-form{
  width: 100%;
  max-width: 400px;
}
.btn{
  margin-bottom: 10px;
}

